.cart-container {
  background-color: #f2f2f2;
  padding: 10px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.textStroke {
  -webkit-text-stroke: 2px rgba(78, 15, 15, 0.5);

  color: transparent;
}
